<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="User acceptance TestSuite">
	<test name="Expense Tracker Validattion">
		<classes>
			<class name="testClassPackage.TestClass" />
			<class name="testClassPackage.TestClass1" />
		</classes>
	</test>
</suite>